.container{
    max-width: 1400px;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    background-color: bisque;
}
.cards{
    display: flex;
    height: 100%;
}
.login-card{
    background-color: #fff;
    width: 450PX;
}
.logo{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.riot-logo img{
    height: 35px;
}
.title-login{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 5px; */
}
.title-login h1{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input{
    height: 50px;
    width: 75%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DCDCDC;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
form input:hover{
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
}
.midia-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
    margin-bottom: 10px;
}
.midia-card{
    background-color: mediumpurple;
    height: 30px;
    width: 74px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.fecebook{
    background-color: #4e71ba;
    box-sizing: border-box;
    border: 1.5px solid #2f55a4 ;
    margin-left: 1px;
}
#fecebook{
    padding: 0.5px;
    background-color: #FFF;
    border-radius: 50%;
    /* height: 30px; */
}
.google{
    background-color: #fff;
    border: 1.5px solid #DCDCDC ;
}
.apple{
    background-color: #000;
}
.midia-card img{
    height: 20px;
}
.keep-login{
    display: flex;
    padding-left:48px;
    width: 100%;
    margin-bottom: 100px;
}
input[type=checkbox]{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #DCDCDC;
}
.keep-login p{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.button-start{
    margin-top: 80px;
    margin-bottom: 50px;
}
.button-start button{
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #DCDCDC;
    background-color: #FFF;
}
.button-start button img{
    height: 35px;
}
.login-help{
    text-align: center;
    width: 100%;
}
.login-help h2{
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: bold;
    font-family:'Source Sans Pro', sans-serif;
    opacity: 0.5;
}
.login-help p{
    float: right;
    font-family:'Source Sans Pro', sans-serif;
    padding-right: 40px;
    font-size: 12px;
    opacity: 0.4;
}
/* ===================================================== */

.layout{
    width: 100%;
    background-image: url(../assets/Udyr-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.icone-out{
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icone-out img{
    height: 15px;
    padding-right: 15px;
}
.option{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information{
    height: 35px;
    width: 35px;
    background-color: #af69ee;
    margin: 15px;
    transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   position: relative;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.exclamacao{
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
}
.option img{
    height: 20px;
    /* position: absolute; */
}
.square-02{
    padding: 5px;
    border-radius: 10px;
    background-color: #424242bb;
}